.tetris {
  text-align: center;
}

.game-board {
  display: inline-block;
  position: relative;
  width: 120px; /* Increased width */
  height: 240px; /* Increased height */
  border: 2px solid black;
  background-color: black; /* Background color of game board */
}

.row {
  display: flex; /* Use flexbox to align cells in a row */
}

.cell {
  width: 12px; /* Increased width of each cell */
  height: 12px; /* Increased height of each cell */
  border: 1px solid gray; /* Border around each cell */
  background-color: black; /* Color of empty cells */
}

.active {
  background-color: transparent; /* Make active row transparent */
}

.square {
  width: 100%;
  height: 100%;
  background-color: blue; /* Color of the square piece */
}

.cell .square {
  width: 24px; /* 2 cells wide */
  height: 24px; /* 2 cells high */
  position: relative; /* Reset position for the square */
}
